* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f4f4f4;
  --panel-color: #fff;
  --panel-shadow: #ccc;
  --btn-primary: #00996e;
  --btn-primary-hover: #1bca87;
  --btn-danger: #dc3545;
  --btn-danger-hover: #db5d69;
  --btn-light: #ddd;
  --success-color: #5cb85c;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
}

/* For removing the pale light blue when autofilling input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Utility Classes */

.container {
  width: 80%;
  margin: 100px auto;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.my-20 {
  margin: 20px 0;
}

.panel {
  background: var(--panel-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 8px 3px var(--panel-shadow);
}

.input-border {
  border: 1px solid black;
  padding: 5px;
}

.btn {
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  outline: none;
  transition: background-color 0.25s;
}

/* Content */

#main-header {
  margin-bottom: 20px;
}

#flex-container {
  display: flex;
  column-gap: 20px;
}

#left-side {
  flex: 7;
}

#right-side {
  flex: 6;
}

/* Nomination status banner */
.finished-banner {
  background-color: var(--success-color);
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 1.6rem;
}

/* Search component */

#search-form {
  /* Subtract 21px for the search icon (16x16px + 5px right padding) */
  width: calc(100% - 21px);
  display: inline-block;
}

#search-bar {
  width: 100%;
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  outline: none;
}

#search-icon {
  padding-right: 5px;
  cursor: pointer;
}

/* Movie Items (listed in results panel) */

.movie-item {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.movie-item-right {
  min-width: fit-content;
  margin-left: 20px;
}

.movie-item:last-of-type {
  margin-bottom: 0;
}

.movie-release-date {
  display: inline;
}

.inline-movie-release-date {
  /* Style used for phones to have the date on the same line as the title */
  display: none;
}

.nominate-btn {
  margin-left: 20px;
  width: 120px;
  background-color: var(--btn-primary);
  color: white;
  transition: background-color 0.25s;
}

.nominate-btn:hover {
  background-color: var(--btn-primary-hover);
  cursor: pointer;
}

.nominate-btn:active {
  background-color: var(--btn-primary);
}

.nominate-btn-disabled {
  margin-left: 20px;
  width: 120px;
  background-color: var(--btn-light);
  color: black;
}

/* Nominees Panel */

.nominee {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.remove-nominee-btn {
  margin-left: 20px;
  width: 100px;
  justify-self: flex-end;
  background-color: var(--btn-danger);
  color: white;
  transition: background-color 0.25s;
}

.remove-nominee-btn:hover {
  background-color: var(--btn-danger-hover);
  cursor: pointer;
}

.remove-nominee-btn:active {
  background-color: var(--btn-danger);
}

.remove-icon {
  padding-right: 5px;
  display: inline;
}

/* Stack the left-side and right-side elements at 900px. Also decrease the
margins at the top and bottom of the screen */
@media (max-width: 900px) {
  #flex-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .container {
    margin: 50px auto;
  }

  .finished-banner {
    font-size: 1.3rem;
  }
}

/* Phones (text started looking crammed at 500px) */
@media (max-width: 500px) {
  .container {
    margin: 25px auto;
  }

  .finished-banner {
    font-size: 1rem;
    padding: 10px;
  }

  #search-bar {
    font-size: 1rem;
  }

  /* Change the orientation of the MovieItem component */
  .movie-item {
    display: block;
    text-align: center;
  }

  .movie-release-date {
    display: none;
  }

  .inline-movie-release-date {
    display: inline;
  }

  .movie-item-right {
    margin: 0;
  }

  .nominate-btn {
    display: block;
    margin: 5px auto 0;
  }

  .nominate-btn-disabled {
    display: block;
    margin: 5px auto 0;
  }

  /* Change the orientation of the Nominee Component */
  .nominee {
    display: block;
    text-align: center;
  }

  .remove-nominee-btn {
    margin: 5px auto 0;
  }
}
